body {
  background-color: rgb(182, 182, 182);
  margin: 0px;
}

@font-face {
  font-family: "bod72w";
  src: url("/bod72w.ttf") format("truetype");
}

.main {
  width: 70%;
  height: auto;
  background-color: white;
  margin: 0px auto;
}

/*  header */
.header {
  width: 100%;
}

.header img {
  width: 100%;
  height: 100%;
}
/*  fin header */

/*  body */
.body {
  width: 100%;
  height: 3000px;
  background-image: url(../images/body.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Franja*/
.franga-negra {
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.franga-negra > div {
  width: 60%;
  height: 30px;
  background-color: black;
  border-radius: 10px;
  opacity: 0.8;
}
/*Franja*/

/*Programa*/
.programa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
.programa-img > img {
  width: 100px;
  height: 100px;
}

.programa-text > h2 {
  font-family: "Gideon Roman", cursive;
  opacity: 0.8;
  color: rgb(88, 88, 88);
  font-size: 50px;
  letter-spacing: 7px;
}
/*Programa*/

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
}
.main-content-img > img {
  width: 100px;
  height: 100px;
}
.main-content-title > h2 {
  font-weight: bold;
  margin-bottom: -20px;
  font-size: 50px;
  letter-spacing: 7px;
}
.main-content-text > p {
  text-align: center;
  font-size: 30px;
}
.main-content-btn {
  margin-top: 10px;
}

.main-content-btn > button {
  background-color: rgb(60, 100, 52);
  opacity: 0.8;
  width: 200px;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

/*Ceremonia*/
.ceremonia {
  margin-top: 15px;
}

/*Recepcion*/
.recepcion {
  margin-top: 40px;
}
/*INFOR*/
.informaci {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.informaci > img {
  width: 50%;
}

@media (max-width: 700px) {
  .main {
    width: 100%;
  }
  .programa {
    margin-top: 30px;
  }
  .programa-img > img {
    width: 100%;
    height: 100%;
  }

  .programa-text > h2 {
    font-size: 25px;
    letter-spacing: 3px;
  }
  .main-content-img > img {
    width: 100%;
    height: 100%;
  }
  .main-content-title > h2 {
    font-size: 25px;
    letter-spacing: 3px;
    margin-bottom: 0px;
  }
  .main-content-text > p {
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
  }

  .informaci > img {
    width: 100%;
  }
}

/*  fin body */

@supports (object-fit: cover) {
  .header img {
    height: 100%;
  }
}

.header > .img-header {
  width: 100%;
  height: 100%;
  background-image: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main > .img {
  width: 100%;
  height: 100%;
  background-image: url(../images/gabyarman_back.PNG);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.container {
  margin: 0px auto;
  padding-top: 400px;
  width: 70%;
}

@font-face {
  font-family: ff1;
  src: url(../f1.woff) format("woff");
}
.ff1 {
  font-family: ff1;
  line-height: 1.145;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
  font-size: 5vw;
  color: rgb(119, 119, 119);
  text-align: center;
}

.nombres {
  margin-top: 130px;
  font-family: "Dancing Script", cursive;
  color: rgb(56, 56, 56);
  font-size: 5vw;
  text-align: center;
  opacity: 0.7;
  line-height: 1.145;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
}

.celebracion {
  margin-top: 170px;
  line-height: 1.145;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
  color: rgb(119, 119, 119);
  text-align: center;
  letter-spacing: 5px;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
  }
  .main .img {
    object-fit: contain;
  }
  .ff1 {
    font-size: 10vw;
  }
  .nombres {
    font-size: 11vw;
  }

  .celebracion {
    font-size: 2.5vw;
  }
}

.informacion {
  margin-top: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-flor {
  margin-top: 200px;
}

.text-programa {
  margin-top: 200px;
}

.text-programa > h2 {
  font-size: 30px;
  letter-spacing: 10px;
  opacity: 0.8;
}

.img-iglesia {
  margin-top: 100px;
}

.text-ceremonia {
  margin-top: 100px;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.text-ceremonia > h2 {
  letter-spacing: 15px;
}

.text-ceremonia > p {
  letter-spacing: 5px;
}

.btn-ubicacion {
  margin-top: 10px;
}

.btn-ubicacion > button {
  background-color: rgb(60, 100, 52);
  opacity: 0.8;
  width: 200px;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

.img-brindis {
  margin-top: 100px;
}

.text-brindis {
  margin-top: 100px;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.text-brindis > h2 {
  letter-spacing: 15px;
}

.text-brindis > p {
  letter-spacing: 5px;
}

/*ANILLO*/
.img-anillo {
  margin-top: 100px;
}

.text-anillo {
  margin-top: 100px;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.text-anillo > h2 {
  letter-spacing: 15px;
}

.text-anillo > p {
  letter-spacing: 5px;
}

/*BANQUETE*/
.img-banquete {
  margin-top: 80px;
}
.text-banquete {
  margin-top: 80px;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.text-banquete > h2 {
  letter-spacing: 15px;
}
.text-banquete > p {
  margin-top: -10px;
  letter-spacing: 5px;
}

/*BAILE*/
.img-baile {
  margin-top: 80px;
}
.text-baile {
  margin-top: 80px;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.text-baile > h2 {
  letter-spacing: 15px;
}
.text-baile > p {
  margin-top: -10px;
  letter-spacing: 5px;
}

/*PASTEL*/
.img-pastel {
  margin-top: 80px;
}
.text-pastel {
  margin-top: 80px;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.text-pastel > h2 {
  color: black;
  letter-spacing: 15px;
}
.text-pastel > p {
  margin-top: -10px;
  letter-spacing: 5px;
}

/*MUSICA*/
.img-musica {
  margin-top: 100px;
}
.text-musica {
  margin-top: 80px;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.text-musica > h2 {
  color: black;
  letter-spacing: 15px;
}

/*FLOR*/
.img-flor {
  margin-top: 100px;
}

/*PAPAS*/
.text-papas {
  font-family: "Montserrat";
  margin-top: 100px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.text-papas > h2 {
  color: black;
  letter-spacing: 15px;
}

.img-papas {
  margin-top: 100px;
}

.text-nombres-papas > p {
  margin: -20px;
}

.espacio {
  margin: 0px auto;
  text-align: center;
  width: 120px;
  height: 5px;
  background-color: rgb(53, 90, 17);
}
