body {
  background-color: rgb(182, 182, 182);
  margin: 0px;
}

.main {
  width: 70%;
  height: 11000px;
  margin: 0px auto;
  background-color: white;
}

.main > .img {
  width: 100%;
  height: 100%;
  background-image: url(../images/gabyarman_back.PNG);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 0px auto;
  padding-top: 400px;
  width: 70%;
}

@font-face {
  font-family: ff1;
  src: url(../f1.woff) format("woff");
}
.ff1 {
  font-family: ff1;
  line-height: 1.145;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
  font-size: 70px;
  color: rgb(119, 119, 119);
  text-align: center;
}

.nombres {
  margin-top: 130px;
  font-family: "Dancing Script", cursive;
  color: rgb(56, 56, 56);
  font-size: 100px;
  text-align: center;
  opacity: 0.7;
  line-height: 1.145;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
}

.celebracion {
  margin-top: 170px;
  line-height: 1.145;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
  color: rgb(119, 119, 119);
  text-align: center;
  letter-spacing: 5px;
}

.informacion {
  margin-top: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.franga-negra > div {
  width: 400px;
  height: 30px;
  background-color: black;
  border-radius: 10px;
  opacity: 0.8;
}

.image-flor {
  margin-top: 200px;
}

.text-programa {
  margin-top: 200px;
}

.text-programa > h2 {
  font-size: 30px;
  letter-spacing: 10px;
  opacity: 0.8;
}

.img-iglesia {
  margin-top: 100px;
}

.text-ceremonia {
  margin-top: 100px;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.text-ceremonia > h2 {
  letter-spacing: 15px;
}

.text-ceremonia > p {
  letter-spacing: 5px;
}

.btn-ubicacion {
  margin-top: 10px;
}

.btn-ubicacion > button {
  background-color: rgb(60, 100, 52);
  opacity: 0.8;
  width: 200px;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

.img-brindis {
  margin-top: 100px;
}

.text-brindis {
  margin-top: 100px;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.text-brindis > h2 {
  letter-spacing: 15px;
}

.text-brindis > p {
  letter-spacing: 5px;
}

/*ANILLO*/
.img-anillo {
  margin-top: 100px;
}

.text-anillo {
  margin-top: 100px;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.text-anillo > h2 {
  letter-spacing: 15px;
}

.text-anillo > p {
  letter-spacing: 5px;
}

/*BANQUETE*/
.img-banquete {
  margin-top: 80px;
}
.text-banquete {
  margin-top: 80px;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.text-banquete > h2 {
  letter-spacing: 15px;
}
.text-banquete > p {
  margin-top: -10px;
  letter-spacing: 5px;
}

/*BAILE*/
.img-baile {
  margin-top: 80px;
}
.text-baile {
  margin-top: 80px;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.text-baile > h2 {
  letter-spacing: 15px;
}
.text-baile > p {
  margin-top: -10px;
  letter-spacing: 5px;
}

/*PASTEL*/
.img-pastel {
  margin-top: 80px;
}
.text-pastel {
  margin-top: 80px;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.text-pastel > h2 {
  color: black;
  letter-spacing: 15px;
}
.text-pastel > p {
  margin-top: -10px;
  letter-spacing: 5px;
}

/*MUSICA*/
.img-musica {
  margin-top: 100px;
}
.text-musica {
  margin-top: 80px;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.text-musica > h2 {
  color: black;
  letter-spacing: 15px;
}

/*FLOR*/
.img-flor {
  margin-top: 100px;
}

/*PAPAS*/
.text-papas {
  font-family: "Montserrat";
  margin-top: 100px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.text-papas > h2 {
  color: black;
  letter-spacing: 15px;
}

.img-papas {
  margin-top: 100px;
}

.text-nombres-papas > p {
  margin: -20px;
}

.espacio {
  margin: 0px auto;
  text-align: center;
  width: 120px;
  height: 5px;
  background-color: rgb(53, 90, 17);
}
